@font-face {
  font-family: "NotoSansJP";
  src: url("fonts/NotoSansJP-Regular.otf");
}

.noto-sans {
  font-family: "NotoSansJP";
}

* {
  margin: 0;
  padding: 0;
  color: #b61f9e;
}

body {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #ff0000;
}

#center {
  width: 40vw;
  height: 100vh;
  background-color: #008000;
}

.side {
  width: 25vw;
  height: 100vh;
  background-color: #0000ff;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000000;
}

#weather {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
}

#time {
  color: #ffffff;
  text-align: center;
}

.center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

